h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

pre {
    white-space: pre-wrap;
}

h2 {
    color: black;
    text-decoration:underline;
}

.badge {
    background-color: black;
}